In [1133]:
pwd

'/Users/leilajavanmardi/Desktop/Leila/Coding_IronHack/Data_Analytics_Bootcamp/week3/project1/notebooks'

In [1134]:
import numpy as np
import pandas as pd
import os
import re
from functions import *

In [1135]:
path='/Users/leilajavanmardi/Desktop/Leila/Coding_IronHack/Data_Analytics_Bootcamp/week3/project1/data/raw/Uncleaned_DS_jobs.csv'
df = pd.read_csv(path)

Introduction

In this Jupyter Notebook, we aim to clean and prepare a dataset containing information about data science job posts from Glassdoor. Our  goal is to perform insightful analysis on the cleaned dataset.

Initial Analysis

We will begin our analysis by examining the current state of the uncleaned dataset. This initial exploration will provide us with valuable insights into the structure, content, and quality of the data. Through this process, we'll identify any issues or inconsistencies that need to be addressed during the cleaning phase.

In [1136]:
shape=df.shape
print(f'The original data set consists of  {shape[0]} rows and {shape[1]} columns')
print("Let's take a closer look at the dataset")
print('\nThe following are the first 3 rows of the dataset:\n')
display(df.head(3))
print("\nLet's now examine the last rows of the dataset.\n")
df.tail(3)

The original data set consists of  672 rows and 15 columns
Let's take a closer look at the dataset

The following are the first 3 rows of the dataset:

,index,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors
0,0,Sr Data Scientist,$137K-$171K (Glassdoor est.),Description\n\nThe Senior Data Scientist is re...,3.1,Healthfirst\n3.1,"New York, NY","New York, NY",1001 to 5000 employees,1993,Nonprofit Organization,Insurance Carriers,Insurance,Unknown / Non-Applicable,"EmblemHealth, UnitedHealth Group, Aetna"
1,1,Data Scientist,$137K-$171K (Glassdoor est.),"Secure our Nation, Ignite your Future\n\nJoin ...",4.2,ManTech\n4.2,"Chantilly, VA","Herndon, VA",5001 to 10000 employees,1968,Company - Public,Research & Development,Business Services,$1 to $2 billion (USD),-1
2,2,Data Scientist,$137K-$171K (Glassdoor est.),Overview\n\n\nAnalysis Group is one of the lar...,3.8,Analysis Group\n3.8,"Boston, MA","Boston, MA",1001 to 5000 employees,1981,Private Practice / Firm,Consulting,Business Services,$100 to $500 million (USD),-1

Let's now examine the last rows of the dataset.

,index,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors
669,669,Data Scientist,$105K-$167K (Glassdoor est.),Join a thriving company that is changing the w...,-1.0,AccessHope,"Irwindale, CA",-1,-1,-1,-1,-1,-1,-1,-1
670,670,Data Scientist,$105K-$167K (Glassdoor est.),100 Remote Opportunity As an AINLP Data Scient...,5.0,ChaTeck Incorporated\n5.0,"San Francisco, CA","Santa Clara, CA",1 to 50 employees,-1,Company - Private,Advertising & Marketing,Business Services,$1 to $5 million (USD),-1
671,671,Data Scientist,$105K-$167K (Glassdoor est.),Description\n\nThe Data Scientist will be part...,2.7,1-800-Flowers\n2.7,"New York, NY","Carle Place, NY",1001 to 5000 employees,1976,Company - Public,Wholesale,Business Services,$1 to $2 billion (USD),-1

In [1137]:
df.columns

Index(['index', 'Job Title', 'Salary Estimate', 'Job Description', 'Rating',
       'Company Name', 'Location', 'Headquarters', 'Size', 'Founded',
       'Type of ownership', 'Industry', 'Sector', 'Revenue', 'Competitors'],
      dtype='object')

In [1138]:
col_df=df.columns
null_values_origin=df.isna().sum()
for col in col_df:
    print(f' the missing values of the column {col} : {null_values_origin.loc[col]}')

 the missing values of the column index : 0
 the missing values of the column Job Title : 0
 the missing values of the column Salary Estimate : 0
 the missing values of the column Job Description : 0
 the missing values of the column Rating : 0
 the missing values of the column Company Name : 0
 the missing values of the column Location : 0
 the missing values of the column Headquarters : 0
 the missing values of the column Size : 0
 the missing values of the column Founded : 0
 the missing values of the column Type of ownership : 0
 the missing values of the column Industry : 0
 the missing values of the column Sector : 0
 the missing values of the column Revenue : 0
 the missing values of the column Competitors : 0

In [1139]:
type=df.dtypes
for col in col_df:
    print(f' the type of the column {col} is: {type.loc[col]}')

 the type of the column index is: int64
 the type of the column Job Title is: object
 the type of the column Salary Estimate is: object
 the type of the column Job Description is: object
 the type of the column Rating is: float64
 the type of the column Company Name is: object
 the type of the column Location is: object
 the type of the column Headquarters is: object
 the type of the column Size is: object
 the type of the column Founded is: int64
 the type of the column Type of ownership is: object
 the type of the column Industry is: object
 the type of the column Sector is: object
 the type of the column Revenue is: object
 the type of the column Competitors is: object

In [1140]:
df.nunique()

index                672
Job Title            172
Salary Estimate       30
Job Description      489
Rating                32
Company Name         432
Location             207
Headquarters         229
Size                   9
Founded              103
Type of ownership     13
Industry              58
Sector                23
Revenue               14
Competitors          108
dtype: int64


As we saw,the uncleaned dataset comprises several columns containing values in both string and float formats. Here are some of the key characteristics of the uncleaned dataset:
Mixed Case: The values exhibit mixed cases, including uppercase, lowercase, and title case formats.
Inconsistent Naming Conventions: Inconsistencies are observed in the entered values, such as the usage of abbreviations or acronyms
Variability in Terminology: Different values may describe similar content using varying terminology, leading to potential inconsistencies.
Special Characters and Numbers: Some values may include special characters, numbers, or additional information alongside the main content.
Potential Errors: The dataset may contain misspellings, typographical errors, or inconsistent formatting, necessitating attention and correction during the cleaning process.

Additionally,at first glance, the dataset appears to have no missing values. However, upon closer inspection, it becomes evident that missing values are represented by the placeholder '-1'.

While the entire dataset has been analyzed, only a few samples are displayed here to illustrate the points mentioned above.

In [1141]:
df.Industry.value_counts()

Industry
-1                                          71
Biotech & Pharmaceuticals                   66
IT Services                                 61
Computer Hardware & Software                57
Aerospace & Defense                         46
Enterprise Software & Network Solutions     43
Consulting                                  38
Staffing & Outsourcing                      36
Insurance Carriers                          28
Internet                                    27
Advertising & Marketing                     23
Health Care Services & Hospitals            21
Research & Development                      17
Federal Agencies                            16
Investment Banking & Asset Management       13
Banks & Credit Unions                        8
Lending                                      8
Energy                                       5
Consumer Products Manufacturing              5
Telecommunications Services                  5
Insurance Agencies & Brokerages              4
Food & Beverage Manufacturing                4
Utilities                                    3
Electrical & Electronic Manufacturing        3
Colleges & Universities                      3
Other Retail Stores                          3
Architectural & Engineering Services         3
Chemical Manufacturing                       3
Real Estate                                  3
Miscellaneous Manufacturing                  3
Accounting                                   3
Wholesale                                    3
Industrial Manufacturing                     3
Video Games                                  3
Travel Agencies                              2
Express Delivery Services                    2
Timber Operations                            2
Financial Transaction Processing             2
Construction                                 2
Health, Beauty, & Fitness                    2
Transportation Equipment Manufacturing       2
Oil & Gas Services                           2
Venture Capital & Private Equity             2
Consumer Electronics & Appliances Stores     2
Department, Clothing, & Shoe Stores          1
Publishing                                   1
Social Assistance                            1
Farm Support Services                        1
Logistics & Supply Chain                     1
Transportation Management                    1
State & Regional Agencies                    1
Hotels, Motels, & Resorts                    1
Food & Beverage Stores                       1
News Outlet                                  1
Telecommunications Manufacturing             1
Cable, Internet & Telephone Providers        1
Shipping                                     1
Rail                                         1
Name: count, dtype: int64

In [1142]:
df['Job Title'].unique()

array(['Sr Data Scientist', 'Data Scientist',
       'Data Scientist / Machine Learning Expert',
       'Staff Data Scientist - Analytics',
       'Data Scientist - Statistics, Early Career', 'Data Modeler',
       'Experienced Data Scientist', 'Data Scientist - Contract',
       'Data Analyst II', 'Medical Lab Scientist',
       'Data Scientist/Machine Learning', 'Human Factors Scientist',
       'Business Intelligence Analyst I- Data Insights',
       'Data Scientist - Risk', 'Data Scientist-Human Resources',
       'Senior Research Statistician- Data Scientist', 'Data Engineer',
       'Associate Data Scientist', 'Business Intelligence Analyst',
       'Senior Analyst/Data Scientist', 'Data Analyst',
       'Machine Learning Engineer', 'Data Analyst I',
       'Scientist - Molecular Biology',
       'Computational Scientist, Machine Learning',
       'Senior Data Scientist', 'Jr. Data Engineer',
       'E-Commerce Data Analyst', 'Data Analytics Engineer',
       'Product Data Scientist - Ads Data Science',
       'Data Scientist - Intermediate', 'Global Data Analyst',
       'Data & Machine Learning Scientist',
       'Data Scientist - Machine Learning', 'Data Engineer (Remote)',
       'Data Scientist, Applied Machine Learning - Bay Area',
       'Principal Data Scientist', 'Business Data Analyst',
       'Purification Scientist', 'Data Engineer, Enterprise Analytics',
       'Data Scientist 3 (718)', 'Real World Science, Data Scientist',
       'Data Scientist - Image and Video Analytics',
       'Data Science Manager, Payment Acceptance - USA',
       'Data Scientist / Applied Mathematician',
       'Patient Safety- Associate Data Scientist',
       '(Sr.) Data Scientist -', 'Data Scientist, Kinship - NYC/Portland',
       'Applied Technology Researcher / Data Scientist',
       'Health Data Scientist - Biomedical/Biostats',
       'Staff Data Scientist', 'Sr Data Engineer (Sr BI Developer)',
       'Lead Data Scientist', 'RFP Data Analyst',
       'Data Scientist (TS/SCI)', 'Software Engineer - Data Science',
       'Data Analyst/Engineer', 'NGS Scientist', 'Senior Data Engineer',
       'Sr. ML/Data Scientist - AI/NLP/Chatbot',
       'Data Integration and Modeling Engineer',
       'Tableau Data Engineer 20-0117', 'AI Data Scientist',
       'Research Scientist Patient Preferences (Remote)',
       'Scientist - Biomarker and Flow Cytometry', 'Analytics Manager',
       'Staff Scientist- Upstream PD',
       'Sr Scientist - Extractables & Leachables',
       'ELISA RESEARCH SCIENTIST (CV-15)', 'Say Business Data Analyst',
       'Geospatial Data Scientist', 'Computational Scientist',
       'Senior Data Analyst', 'Sr Data Analyst',
       'Machine Learning Scientist - Bay Area, CA',
       'Senior Data Scientist - Algorithms',
       'Senior Data & Machine Learning Scientist',
       'Research Scientist - Patient-Centered Research (Remote)',
       'Jr. Business Data Analyst (position added 6/12/2020)',
       'Sr. Data Scientist II',
       'Production Engineer - Statistics/Data Analysis',
       'Statistical Scientist', 'Computational Behavioral Scientist',
       'Principal Data Scientist - Machine Learning',
       'Principal Machine Learning Scientist',
       'Senior Data Scientist - R&D Oncology',
       'Health Plan Data Analyst, Sr',
       'Principal Scientist/Associate Director, Quality Control and Analytical Technologies',
       'Analytics - Business Assurance Data Analyst',
       'Senior Data Scientist – Image Analytics, Novartis AI Innovation Lab',
       'Data Science Instructor', 'Senior Business Intelligence Analyst',
       'In-Line Inspection Data Analyst',
       'Data Scientist - TS/SCI FSP or CI Required',
       'Data Scientist - TS/SCI Required',
       'Data Science Software Engineer',
       'ENGINEER - COMPUTER SCIENTIST - RESEARCH COMPUTER SCIENTIST - SIGNAL PROCESSING - SAN ANTONIO OR',
       'AI Ops Data Scientist', 'Intelligence Data Analyst, Senior',
       'Analytics Manager - Data Mart',
       'Data Modeler (Analytical Systems)',
       'Senior Machine Learning Scientist - Bay Area, CA',
       'Report Writer-Data Analyst', 'Staff Data Scientist - Pricing',
       'Equity Data Insights Analyst - Quantitative Analyst',
       'Operations Data Analyst', 'Software Data Engineer',
       'Real World Evidence (RWE) Scientist', 'Computer Scientist 1',
       'Environmental Data Science', 'Staff BI and Data Engineer',
       'Data Scientist - Statistics, Mid-Career',
       'Director of Data Science',
       'Data Engineer, Digital & Comp Pathology',
       'Manager / Lead, Data Science & Analytics',
       'Diversity and Inclusion Data Analyst',
       'Data Scientist Machine Learning', 'Chief Scientist',
       'Development Scientist, Voltaren',
       'Principal Data & Analytics Platform Engineer',
       'Machine Learning Engineer/Scientist',
       'Data Analyst - Unilever Prestige', 'VP, Data Science',
       'Data Engineer - Kafka', 'Decision Scientist',
       'Data Science All Star Program - Data Engineer Track',
       'Scientist - Machine Learning', 'Sr. Data Scientist',
       'Applied AI Scientist / Engineer',
       'Data Engineer (Analytics, SQL, Python, AWS)',
       'Senior Data Analyst - Finance & Platform Analytics',
       'Market Research Data Scientist',
       'IT Partner Digital Health Technology and Data Science',
       'Software Engineer (Data Scientist, C,C++,Linux,Unix) - SISW - MG',
       'Senior Clinical Data Scientist Programmer',
       'Computer Vision / Deep Learning Scientist',
       'Data Solutions Engineer - Data Modeler',
       'Data Scientist (TS/SCI w/ Poly)',
       'Weapons and Sensors Engineer/Scientist',
       'Applied Computer Scientist', 'Cloud Data Engineer (Azure)',
       'Lead Certified Clinical Laboratory Scientist - Saturday - Tuesday, 8:00pm - 6:30am shift',
       'Sr. Data Analyst',
       'Senior Scientist - Toxicologist - Product Integrity (Stewardship)',
       'Senior Machine Learning Engineer',
       'Data Scientist- Industrial Discrete Sector Industry',
       'Senior Principal Data Scientist (Python/R)',
       'Data Scientist(s)/Machine Learning Engineer',
       'Scientist / Group Lead, Cancer Biology',
       'Manager, Field Application Scientist, Southeast',
       'COMPUTER SCIENTIST - ENGINEER - RESEARCH COMPUTER SCIENTIST - SIGNAL PROCESSING',
       'Machine Learning Scientist / Engineer', 'Data Science Analyst',
       'COMPUTER SCIENTIST - ENGINEER - RESEARCH COMPUTER SCIENTIST - TRANSPORTATION TECHNOLOGY',
       'Software Engineer - Machine Learning & Data Science (Applied Intelligence Services Team)',
       'Clinical Data Analyst', 'Data Scientist Technical Specialist',
       'Data Science Manager', 'Big Data Engineer', 'Data Architect',
       'Aviation AI/ML Data Scientist', 'Machine Learning Engineer, Sr.',
       'Information Systems Engineering Specialist (Engineering Scientist)',
       'Scientist/Research Associate-Metabolic Engineering',
       'Vice President, Biometrics and Clinical Data Management',
       'Enterprise Data Analyst (Enterprise Portfolio Management Office)',
       'Lead Data Scientist – Network Analysis and Control',
       'Sr. Research Associate/ Scientist, NGS prep & Molecular Genomics',
       'Developer III - Data Science',
       'Hydrogen/Tritium Materials Scientist (Experienced)',
       'Data Scientist/Data Analytics Practitioner',
       'AI/ML - Machine Learning Scientist, Siri Understanding'],
      dtype=object)

In [1143]:
df.Industry.unique()

array(['Insurance Carriers', 'Research & Development', 'Consulting',
       'Electrical & Electronic Manufacturing', 'Advertising & Marketing',
       'Computer Hardware & Software', 'Biotech & Pharmaceuticals',
       'Consumer Electronics & Appliances Stores',
       'Enterprise Software & Network Solutions', 'IT Services', 'Energy',
       'Chemical Manufacturing', 'Federal Agencies', 'Internet',
       'Health Care Services & Hospitals',
       'Investment Banking & Asset Management', 'Aerospace & Defense',
       'Utilities', '-1', 'Express Delivery Services',
       'Staffing & Outsourcing', 'Insurance Agencies & Brokerages',
       'Consumer Products Manufacturing', 'Industrial Manufacturing',
       'Food & Beverage Manufacturing', 'Banks & Credit Unions',
       'Video Games', 'Shipping', 'Telecommunications Services',
       'Lending', 'Cable, Internet & Telephone Providers', 'Real Estate',
       'Venture Capital & Private Equity', 'Miscellaneous Manufacturing',
       'Oil & Gas Services', 'Transportation Equipment Manufacturing',
       'Telecommunications Manufacturing', 'Transportation Management',
       'News Outlet', 'Architectural & Engineering Services',
       'Food & Beverage Stores', 'Other Retail Stores',
       'Hotels, Motels, & Resorts', 'State & Regional Agencies',
       'Financial Transaction Processing', 'Timber Operations',
       'Colleges & Universities', 'Travel Agencies', 'Accounting',
       'Logistics & Supply Chain', 'Farm Support Services',
       'Social Assistance', 'Construction',
       'Department, Clothing, & Shoe Stores', 'Publishing',
       'Health, Beauty, & Fitness', 'Wholesale', 'Rail'], dtype=object)

In [1144]:
df_clean=general_cleaning(df)
df_clean.shape
print(f'After removing duplicated, the data set has {df_clean.shape[0]} rows and {df_clean.shape[1]} columns')

After removing duplicated, the data set has 672 rows and 15 columns

In [1145]:
print('replacing the -1 values with numpy.nan to provide the missing indicator')
df_clean.replace({-1:np.nan,'-1': np.nan}, inplace=True)

replacing the -1 values with numpy.nan to provide the missing indicator

In [1146]:
columns=df_clean.columns
null_values=df_clean.isna().sum()
for col in columns:
    print(f' the missing values of the column {col} : {null_values.loc[col]}')

 the missing values of the column index : 0
 the missing values of the column job_title : 0
 the missing values of the column salary_estimate : 0
 the missing values of the column job_description : 0
 the missing values of the column rating : 50
 the missing values of the column company_name : 0
 the missing values of the column location : 0
 the missing values of the column headquarters : 31
 the missing values of the column size : 27
 the missing values of the column founded : 118
 the missing values of the column type_of_ownership : 27
 the missing values of the column industry : 71
 the missing values of the column sector : 71
 the missing values of the column revenue : 27
 the missing values of the column competitors : 501

In [1147]:
df_clean['job_cleaned']=df_clean.job_title.apply(cleaning_job_title)
display(df_clean.head(4))
print(f'the Jobs are now categorized in the follwoing {df_clean.job_cleaned.nunique()} groups:')
df_clean.job_cleaned.unique()

,index,job_title,salary_estimate,job_description,rating,company_name,location,headquarters,size,founded,type_of_ownership,industry,sector,revenue,competitors,job_cleaned
0,0,Sr Data Scientist,$137K-$171K (Glassdoor est.),Description\n\nThe Senior Data Scientist is re...,3.1,Healthfirst\n3.1,"New York, NY","New York, NY",1001 to 5000 employees,1993.0,Nonprofit Organization,Insurance Carriers,Insurance,Unknown / Non-Applicable,"EmblemHealth, UnitedHealth Group, Aetna",data_scientist
1,1,Data Scientist,$137K-$171K (Glassdoor est.),"Secure our Nation, Ignite your Future\n\nJoin ...",4.2,ManTech\n4.2,"Chantilly, VA","Herndon, VA",5001 to 10000 employees,1968.0,Company - Public,Research & Development,Business Services,$1 to $2 billion (USD),NaN,data_scientist
2,2,Data Scientist,$137K-$171K (Glassdoor est.),Overview\n\n\nAnalysis Group is one of the lar...,3.8,Analysis Group\n3.8,"Boston, MA","Boston, MA",1001 to 5000 employees,1981.0,Private Practice / Firm,Consulting,Business Services,$100 to $500 million (USD),NaN,data_scientist
3,3,Data Scientist,$137K-$171K (Glassdoor est.),JOB DESCRIPTION:\n\nDo you have a passion for ...,3.5,INFICON\n3.5,"Newton, MA","Bad Ragaz, Switzerland",501 to 1000 employees,2000.0,Company - Public,Electrical & Electronic Manufacturing,Manufacturing,$100 to $500 million (USD),"MKS Instruments, Pfeiffer Vacuum, Agilent Tech...",data_scientist

the Jobs are now categorized in the follwoing 8 groups:

array(['data_scientist', 'others', 'data_analyst', 'data_engineer',
       'machine_learning_engineer', 'senior_data_scientist',
       'data_science_analytics_leadership', 'computational_scientist'],
      dtype=object)

In [1148]:
df_clean['indu_cl'] = df_clean['industry'].apply(cleaning_industry)
display(df_clean.sample(5))
print(f'the industries are now categorized in the follwoing {df_clean.indu_cl.nunique()} groups:')
df_clean.indu_cl.unique()

,index,job_title,salary_estimate,job_description,rating,company_name,location,headquarters,size,founded,type_of_ownership,industry,sector,revenue,competitors,job_cleaned,indu_cl
66,66,Data Scientist,$79K-$131K (Glassdoor est.),"As a Data Scientist, you'll utilize advanced q...",3.7,Via Transportation\n3.7,"New York, NY","New York, NY",501 to 1000 employees,2012.0,Company - Private,Internet,Information Technology,Unknown / Non-Applicable,NaN,data_scientist,internet_telephone_providers
55,55,Data Analytics Engineer,$75K-$131K (Glassdoor est.),Analytics Engineer-Administration\nSumma Healt...,3.7,Summa Health System\n3.7,"Akron, OH","Akron, OH",5001 to 10000 employees,1926.0,Nonprofit Organization,Health Care Services & Hospitals,Health Care,$100 to $500 million (USD),NaN,data_analyst,healthcare_and_pharmaceuticals
639,639,Data Scientist,$92K-$155K (Glassdoor est.),Who is Moxie?\n\nMoxie is a company on a missi...,3.0,Moxie Software\n3.0,"Bellevue, WA","San Bruno, CA",51 to 200 employees,1999.0,Company - Private,Enterprise Software & Network Solutions,Information Technology,Unknown / Non-Applicable,"LivePerson, Salesforce, SAP",data_scientist,enterprise_software_network_solutions
537,537,Sr. Data Scientist,$66K-$112K (Glassdoor est.),The position\n\nCome join one of the fastest-g...,3.5,Evolve Vacation Rental\n3.5,"Denver, CO","Denver, CO",201 to 500 employees,2011.0,Company - Private,Travel Agencies,Travel & Tourism,Unknown / Non-Applicable,NaN,data_scientist,others
115,115,Data Scientist,$99K-$132K (Glassdoor est.),***Please note: All hiring and recruitment at ...,3.6,Spring Health\n3.6,"New York, NY","New York, NY",1 to 50 employees,2016.0,Company - Private,Health Care Services & Hospitals,Health Care,Unknown / Non-Applicable,NaN,data_scientist,healthcare_and_pharmaceuticals

the industries are now categorized in the follwoing 16 groups:

array(['insurance_agencies', 'others', 'consulting', 'manufacturing',
       'advertising_marketing', 'computer_hardware_software',
       'enterprise_software_network_solutions ', 'energy_and_utilities',
       'government_public_sector', 'internet_telephone_providers',
       'healthcare_and_pharmaceuticals', 'finance_and_banking',
       'staffing_outsourcing', 'transportation_logistics',
       'telecommunications_services', 'real_estate_construction'],
      dtype=object)

In [1149]:
df_clean.salary_estimate.unique()

array(['$137K-$171K (Glassdoor est.)', '$75K-$131K (Glassdoor est.)',
       '$79K-$131K (Glassdoor est.)', '$99K-$132K (Glassdoor est.)',
       '$90K-$109K (Glassdoor est.)', '$101K-$165K (Glassdoor est.)',
       '$56K-$97K (Glassdoor est.)', '$79K-$106K (Glassdoor est.)',
       '$71K-$123K (Glassdoor est.)', '$90K-$124K (Glassdoor est.)',
       '$91K-$150K (Glassdoor est.)', '$141K-$225K (Glassdoor est.)',
       '$145K-$225K(Employer est.)', '$79K-$147K (Glassdoor est.)',
       '$122K-$146K (Glassdoor est.)', '$112K-$116K (Glassdoor est.)',
       '$110K-$163K (Glassdoor est.)', '$124K-$198K (Glassdoor est.)',
       '$79K-$133K (Glassdoor est.)', '$69K-$116K (Glassdoor est.)',
       '$31K-$56K (Glassdoor est.)', '$95K-$119K (Glassdoor est.)',
       '$212K-$331K (Glassdoor est.)', '$66K-$112K (Glassdoor est.)',
       '$128K-$201K (Glassdoor est.)', '$138K-$158K (Glassdoor est.)',
       '$80K-$132K (Glassdoor est.)', '$87K-$141K (Glassdoor est.)',
       '$92K-$155K (Glassdoor est.)', '$105K-$167K (Glassdoor est.)'],
      dtype=object)

In [1150]:
df_clean['sal_cleaned']=df_clean.salary_estimate.map(cleaning_salary)
display(df_clean.sample(4))
print(f'the salaries are now categorized in the follwoing {df_clean.sal_cleaned.nunique()} groups:')
df_clean.sal_cleaned.unique()

,index,job_title,salary_estimate,job_description,rating,company_name,location,headquarters,size,founded,type_of_ownership,industry,sector,revenue,competitors,job_cleaned,indu_cl,sal_cleaned
633,633,Data Scientist,$92K-$155K (Glassdoor est.),Position Role/Tile: Data Scientist\nLocation: ...,3.0,"Central Business Solutions, Inc\n3.0","Seattle, WA","Fremont, CA",51 to 200 employees,NaN,Company - Private,Consulting,Business Services,$5 to $10 million (USD),NaN,data_scientist,consulting,90-170
512,512,Senior Data Scientist,$212K-$331K (Glassdoor est.),Do you have a head for numbers? Like turning r...,3.5,Maxar Technologies\n3.5,"Herndon, VA","Westminster, CO",5001 to 10000 employees,NaN,Company - Public,Aerospace & Defense,Aerospace & Defense,$2 to $5 billion (USD),NaN,senior_data_scientist,others,210-335
663,663,Data Scientist,$105K-$167K (Glassdoor est.),Job Description\nEducation and Experience:\nAt...,4.1,A-Line Staffing Solutions\n4.1,"Durham, NC","Utica, MI",501 to 1000 employees,2004.0,Company - Private,Staffing & Outsourcing,Business Services,Unknown / Non-Applicable,NaN,data_scientist,staffing_outsourcing,90-170
436,436,Data Scientist - Machine Learning,$79K-$133K (Glassdoor est.),Data Scientist Machine Learning\n\n\nJob Descr...,5.0,VANTA Partners\n5.0,"Open Fork, VA","Clifton Park, NY",1 to 50 employees,2018.0,Company - Private,Staffing & Outsourcing,Business Services,Unknown / Non-Applicable,NaN,data_scientist,staffing_outsourcing,75-145

the salaries are now categorized in the follwoing 7 groups:

array(['120-200', '75-145', '90-170', '56-125', '140-225', '30-56',
       '210-335'], dtype=object)

In [1151]:
df_clean.location.unique()
locations=['New York, NY', 'Chantilly, VA', 'Boston, MA']
for location in locations:
    location=str(location).lower().strip()
    location=location.split(',')[0].replace(' ','_')
    
    print(location)

new_york
chantilly
boston

In [1152]:
df_clean['location_cleaned']=df_clean.location.apply(cleaning_locations)
print(f'\nthe location has {df_clean.location_cleaned.isna().sum()} missing values\n')
print(f'\nthe location are now categorized in the follwoing {df_clean.location_cleaned.nunique()} groups:\n')
location_unique =df_clean.location_cleaned.unique()
print(np.sort(location_unique))

the location has 0 missing values


the location are now categorized in the follwoing 207 groups:

['adelphi, md' 'akron, oh' 'alexandria, va' 'alpharetta, ga'
 'ann arbor, mi' 'annapolis junction, md' 'appleton, wi' 'arlington, va'
 'ashburn, va' 'atlanta, ga' 'aurora, co' 'austin, tx' 'baltimore, md'
 'beavercreek, oh' 'bedford, ma' 'bellevue, wa' 'bethesda, md'
 'birmingham, al' 'blue bell, pa' 'boston, ma' 'bothell, wa' 'boulder, co'
 'bridgeport, wv' 'brisbane, ca' 'brooklyn, ny' 'burbank, ca'
 'burlingame, ca' 'california' 'cambridge, ma' 'carmel, in'
 'carpinteria, ca' 'carson, ca' 'cedar rapids, ia' 'champaign, il'
 'chandler, az' 'chantilly, va' 'charlotte, nc' 'chicago, il'
 'cincinnati, oh' 'cleveland, oh' 'collegeville, pa'
 'colorado springs, co' 'columbia, md' 'columbia, mo' 'columbia, sc'
 'concord, ca' 'coral gables, fl' 'culver city, ca' 'cupertino, ca'
 'dallas, tx' 'danvers, ma' 'dayton, oh' 'dearborn, mi' 'denver, co'
 'durham, nc' 'edison, nj' 'emeryville, ca' 'ewing, nj' 'fairfax, va'
 'falls church, va' 'fort belvoir, va' 'fort lee, nj' 'fort meade, md'
 'fort sam houston, tx' 'fort wayne, in' 'fort worth, tx'
 'foster city, ca' 'frederick, md' 'fremont, ca' 'gahanna, oh'
 'gaithersburg, md' 'germantown, md' 'hamilton, nj' 'hampton, va'
 'harrisburg, pa' 'hartford, ct' 'hauppauge, ny' 'herndon, va'
 'hill afb, ut' 'hoboken, nj' 'holyoke, ma' 'houston, tx' 'huntsville, al'
 'indianapolis, in' 'ipswich, ma' 'irvine, ca' 'irwindale, ca'
 'jersey city, nj' 'kansas city, mo' 'kent, oh' 'lake oswego, or'
 'laurel, md' 'lebanon, in' 'lehi, ut' 'lexington park, md'
 'lexington, ma' 'lincoln, ne' 'linthicum heights, md' 'livermore, ca'
 'lombard, il' 'longmont, co' 'madison, wi' 'manchester, nh'
 'maple plain, mn' 'maryland heights, mo' 'mclean, va' 'melbourne, fl'
 'memphis, tn' 'menlo park, ca' 'merrifield, va' 'minneapolis, mn'
 'monroe, wi' 'monterey, ca' 'mountain view, ca' 'naperville, il'
 'nashville, tn' 'new bedford, ma' 'new jersey' 'new orleans, la'
 'new york, ny' 'newton, ma' 'norfolk, va' 'northbrook, il' 'norwell, ma'
 'oak ridge, tn' 'oakland, ca' 'oakville, ca' 'oklahoma city, ok'
 'omaha, ne' 'open fork, va' 'orange, ca' 'orlando, fl' 'oshkosh, wi'
 'overland park, ks' 'oxnard, ca' 'palo alto, ca'
 'patuxent, anne arundel, md' 'peoria, il' 'philadelphia, pa'
 'phoenix, az' 'piscataway, nj' 'pittsburgh, pa' 'plano, tx'
 'pleasanton, ca' 'portland, or' 'portsmouth, nh' 'quantico, va'
 'raleigh, nc' 'rancho cucamonga, ca' 'redmond, wa' 'redwood city, ca'
 'remote' 'reston, va' 'richland, wa' 'richmond, va' 'rockville, md'
 'sacramento, ca' 'saint louis, mo' 'san antonio, tx' 'san carlos, ca'
 'san clemente, ca' 'san diego, ca' 'san francisco, ca' 'san jose, ca'
 'san mateo, ca' 'san ramon, ca' 'santa barbara, ca' 'santa clara, ca'
 'santa cruz, ca' 'santa monica, ca' 'schaumburg, il' 'scotts valley, ca'
 'seattle, wa' 'sheboygan, wi' 'silver spring, md' 'simi valley, ca'
 'smithfield, ri' 'south san francisco, ca' 'southfield, mi'
 'spartanburg, sc' 'springfield, va' 'sterling, va' 'sunnyvale, ca'
 'texas' 'the woodlands, tx' 'thousand oaks, ca' 'timonium, md'
 'trumbull, ct' 'tulsa, ok' 'united states' 'utah' 'vicksburg, ms'
 'vienna, va' 'waltham, ma' 'washington, dc' 'washington, va'
 'wellesley, ma' 'west chester, pa' 'west grove, pa' 'wilmington, de'
 'winston-salem, nc' 'winter park, fl' 'winters, tx' 'woburn, ma'
 'woodbridge, nj' 'woodlawn, md' 'yakima, wa']

In [1153]:
df_clean['size_cleaned']= df_clean['size'].fillna('unknown').replace('Unknown','unknown')
df_clean['size_cleaned'].unique()
print(df_clean['size_cleaned'].isna().sum())

0

In [1154]:
df_clean['headquarters_cleaned']=df_clean.headquarters.apply(cleaning_headquarters)
print(f'\nthe headquarters column has {df_clean.headquarters_cleaned.isna().sum()} missing values\n')
print(f'\nthe headquarters are now categorized in the follwoing {df_clean.headquarters_cleaned.nunique()} groups:\n')
print(df_clean.headquarters_cleaned.unique())

the headquarters column has 0 missing values


the headquarters are now categorized in the follwoing 229 groups:

['new york, ny' 'herndon, va' 'boston, ma' 'bad ragaz, switzerland'
 'santa barbara, ca' 'basel, switzerland' 'bedford, ma'
 'mountain view, ca' 'chicago, il' 'mc lean, va' 'saint louis, mo'
 'richland, wa' 'northbrook, il' 'princeton, nj' 'mays landing, nj'
 'washington, dc' 'memphis, tn' 'tempe, az' 'reading, pa'
 'san francisco, ca' 'menlo park, ca' 'atlanta, ga' 'orlando, fl'
 'lexington, ma' 'falls church, va' 'sheboygan, wi' 'seattle, wa'
 'bellevue, wa' 'lincoln, ne' 'chantilly, va' 'santa monica, ca'
 'ewing, nj' 'south san francisco, ca' 'palo alto, ca'
 'singapore, singapore' 'cambridge, ma' 'osaka, japan' 'santa clara, ca'
 'vienna, va' 'new orleans, la' 'akron, oh' 'zurich, switzerland'
 'woburn, ma' 'carson, ca' 'coral gables, fl' 'san ramon, ca'
 'brisbane, ca' 'winter park, fl' 'san rafael, ca' 'deerfield, il'
 'ipswich, ma' 'carmel, in' 'chevy chase, md' 'hartford, ct'
 'emeryville, ca' 'cambridge, united kingdom' 'rockville, md'
 'minneapolis, mn' 'austin, tx' 'yakima, wa' 'santa cruz, ca'
 'south jordan, ut' 'reston, va' 'denver, co' 'holmdel, nj' 'aurora, co'
 'san mateo, ca' 'goleta, ca' 'franklin, tn' 'indianapolis, in'
 'lutherville timonium, md' 'westminster, co' 'burlingame, ca'
 'annapolis junction, md' 'bethesda, md' 'beavercreek, oh'
 'schaumburg, il' 'sunnyvale, ca' 'lehi, ut' 'lake oswego, or'
 'holyoke, ma' 'dulles, va' 'san diego, ca' 'detroit, mi' 'stamford, ct'
 'carpinteria, ca' 'columbia, sc' 'nan' "marcy-l'etoile, france"
 'columbia, mo' 'fairfax, va' 'chandler, az' 'aurora, canada'
 'blue bell, pa' 'troy, mi' 'redwood city, ca' 'greenville, sc'
 'arlington, va' 'harrisburg, pa' 'hamilton, bermuda' 'lynchburg, va'
 'springfield, ma' 'san carlos, ca' 'waltham, ma' 'san jose, ca'
 'jersey city, nj' 'fort worth, tx' 'cedar rapids, ia' 'mclean, va'
 'lorton, va' 'maple plain, mn' 'kent, wa' 'woodbine, md'
 'san antonio, tx' 'scotts valley, ca' 'spartanburg, sc' 'woodbridge, nj'
 'chennai, india' 'tel aviv-yafo, israel' 'baltimore, md' 'manalapan, nj'
 'charlotte, nc' 'saxonburg, pa' 'bristol, pa' 'bangalore, india'
 'hoboken, nj' 'paris, france' 'greenwich, ct' 'santa ana, ca'
 'houston, tx' 'tucson, az' 'birmingham, al' 'cleveland, oh'
 'pleasanton, ca' 'columbus, oh' 'piscataway, nj' 'danvers, ma'
 'philadelphia, pa' 'livermore, ca' 'pittsburgh, pa' 'dallas, tx'
 'toronto, canada' 'irvine, ca' 'hillsborough, nj' 'oshkosh, wi'
 'fremont, ca' 'monroe, wi' 'goteborg, sweden' 'lake buena vista, fl'
 'schaffhausen, switzerland' 'richmond, va' 'newark, ca' 'greensboro, nc'
 'scottsdale, az' 'irving, tx' 'beltsville, md' 'naperville, il'
 'brentford, united kingdom' 'cincinnati, oh' 'somerset, nj'
 'london, united kingdom' 'raleigh, nc' 'leesburg, va' 'durham, nc'
 'kent, oh' 'westlake village, ca' 'north brunswick, nj' 'benicia, ca'
 'laurel, md' 'columbia, md' 'danville, ca' 'wilmington, ma'
 'new york, 061' 'reading, ma' 'folsom, ca' 'wilsonville, or'
 'huntsville, al' 'madison, wi' 'phila, pa' 'winston-salem, nc'
 'half moon bay, ca' 'los angeles, ca' 'hilliard, oh' 'hanover, md'
 'kansas city, mo' 'bengaluru, india' 'alpharetta, ga' 'germantown, md'
 'omaha, ne' 'clifton park, ny' 'livonia, mi' 'ashburn, va'
 'nashville, tn' 'alexandria, va' 'edison, nj' 'ventura, ca' 'armonk, ny'
 'trumbull, ct' 'chadds ford, pa' 'saint paul, mn' 'glen allen, va'
 'aliso viejo, ca' 'plainsboro, nj' 'fairmont, wv' 'cherry hill, nj'
 'itasca, il' 'coconut creek, fl' 'lombard, il' 'honolulu, hi'
 'carle place, ny' 'cupertino, ca' 'tampa, fl' 'totowa, nj' 'rome, ny'
 'milan, il' 'marbella, spain' 'simi valley, ca' 'rancho cucamonga, ca'
 'albuquerque, nm' 'langley, va' 'plano, tx' 'albertville, al'
 'orange, ca' 'littleton, co' 'oakville, canada' 'san bruno, ca'
 'west chester, pa' 'utica, mi' 'fort lee, nj']

In [1155]:
print(df_clean.company_name.isna().sum())
df_clean.company_name.unique()

0

array(['Healthfirst\n3.1', 'ManTech\n4.2', 'Analysis Group\n3.8',
       'INFICON\n3.5', 'Affinity Solutions\n2.9', 'HG Insights\n4.2',
       'Novartis\n3.9', 'iRobot\n3.5', 'Intuit - Data\n4.4',
       'XSELL Technologies\n3.6', 'Novetta\n4.5', '1904labs\n4.7',
       'PNNL\n3.7', 'Old World Industries\n3.1',
       'Mathematica Policy Research\n3.4',
       'Guzman & Griffin Technologies (GGTI)\n4.4',
       'Upside Business Travel\n4.1', 'Buckman\n3.5',
       'Insight Enterprises, Inc.\n4.2', 'Tower Health\n3.5',
       'Triplebyte\n3.2', 'PulsePoint\n4.3', 'Exponent\n3.5',
       'Guardian Life\n3.5',
       'Spectrum Communications and Consulting\n3.4',
       'Oversight Systems\n4.7', 'LSQ\n4.2',
       'MIT Lincoln Laboratory\n3.8', 'Kingfisher Systems\n4.5',
       'Formation\n2.8', 'Cohere Health\n5.0', 'Acuity Insurance\n4.8',
       'Chef\n3.6', 'Puget Sound Energy\n3.3', 'Sandhills Global\n2.7',
       'A Place for Mom\n2.7', 'Great-Circle Technologies\n2.2',
       'Edmunds.com\n3.4', 'Cambridge Associates, LLC\n3.1',
       'Liberty Mutual Insurance\n3.4', 'Cenlar\n2.6',
       'Arsenal Biosciences\n5.0', 'Eversight\n4.2', 'Pfizer\n4.1',
       'Klaviyo\n4.8', 'Intellectual Ventures\n3.3', 'GovTech\n3.7',
       'Quick Base\n4.3', 'Giving Assistant\n4.8', 'Takeda\n3.7',
       'Netskope\n4.0', 'IT Concepts\n4.8', 'iSeatz\n3.5',
       'Summa Health System\n3.7', 'Benson Hill\n3.5', 'Twitter\n4.1',
       'Postmates - Corporate HQ\n3.2', 'Envision LLC\n4.5',
       'Swiss Re\n3.8', 'Systems & Technology Research\n4.5',
       'Dermalogica\n3.8', 'Bayview Asset Management\n3.7',
       'Via Transportation\n3.7', 'Grid Dynamics\n4.0',
       'Tempus Labs\n3.3', 'CareDx\n2.5', 'IZEA\n4.2', 'Autodesk\n4.0',
       'Caterpillar\n3.7', 'New England Biolabs\n4.9',
       'Allied Solutions\n3.4', 'The Knot Worldwide\n3.5',
       'IFG Companies\n2.9', 'Amyris\n3.3', 'AstraZeneca\n4.0',
       'Powertek\n3.6', 'Object Partners\n4.7', 'The Mom Project\n4.9',
       'Lightspeed Systems\n4.3', 'Stripe\n4.0',
       'Comprehensive Healthcare\n2.6',
       'Fullpower Technologies, Inc.\n4.5', 'Mars\n3.9',
       'NuWave Solutions\n4.4', 'Merrick Bank\n3.6', 'QOMPLX\n3.5',
       'GutCheck\n3.8', 'Inter-American Development Bank\n3.5',
       'Avlino\n4.9', 'Stratagem Group\n4.4', 'Evidation\n4.1',
       'Tecolote Research\n3.8', 'Tivity Health\n3.2', 'hc1\n2.9',
       'HP Inc.\n4.1', 'SAIC\n3.7', 'AllianceBernstein\n3.2',
       'Big Huge Games\n4.9', 'Maxar Technologies\n3.5',
       'Phantom AI\n5.0', 'Noblis\n4.0', 'Spring Health\n3.6',
       'ClearEdge\n4.0', 'GetWellNetwork\n4.8', 'TACG Solutions\n4.5',
       'Scoop\n4.7', 'Montway Inc\n3.4', 'Juniper Networks\n3.8',
       'Notion Labs\n5.0', 'Lendio\n4.9', 'Direct Agents\n4.4',
       'NAVEX Global\n3.3', 'Upstart\n4.2', 'AppLovin\n4.8',
       'ISO New England\n3.8', 'Relativity\n3.7', 'Tempo Automation\n3.3',
       'MITRE\n3.3', 'Expedition Technology, Inc.\n5.0', 'Evidera\n3.8',
       'Plymouth Rock Assurance\n3.4', 'Crown Bioscience\n2.4',
       'GNS Healthcare\n2.9', 'OneMagnify\n4.4', 'SPECTRUM\n2.9',
       'Advanced BioScience Laboratories\n2.7',
       'Procore Technologies\n4.2', 'Ritedose\n3.5',
       'Covid-19 Search Partners', 'bioMérieux\n4.2',
       'Radical Convergence', 'Leidos\n3.5', 'Demandbase\n4.5',
       'Shelter Insurance\n4.1', 'USAC\n2.7',
       'General Dynamics Information Technology\n3.4', 'Offerpad\n4.4',
       'Magna International Inc.\n3.5', 'United BioSource\n2.3',
       'Kelly\n3.4', 'C3.ai\n4.7', 'Quartet Health\n3.9',
       'Midland Credit Management\n3.3',
       'Resurgent Capital Services\n4.4', 'webfx.com\n4.7',
       'Argo Group US\n3.5', 'BWX Technologies\n3.3', 'Life360\n3.9',
       'MassMutual\n3.7', 'Natera\n3.9', 'Genentech\n4.0', 'Ntrepid\n4.2',
       'Constant Contact\n3.6', 'Sage Intacct\n4.7',
       'Shape Security\n4.1', 'SkillSoniq\n5.0', 'Joby Aviation\n4.3',
       "Cook Children's Health Care System\n3.8",
       'Rubius Therapeutics\n3.8', 'GreatAmerica Financial Services\n4.6',
       'Coverent\n4.1', 'Mteq\n3.7', 'Rocket Lawyer\n4.4',
       'Alion Science & Technology\n3.6', 'Protolabs\n3.7',
       'Quest Integrity\n2.9', 'Phoenix Operations Group\n5.0',
       'Dice.com\n3.4', 'Southwest Research Institute\n3.9',
       'The Buffalo Group\n4.3',
       'Central California Alliance for Health\n3.5',
       'Security Finance Corporation of Spartanburg\n3.1',
       'Opendoor\n3.6', 'Global Data Management Inc\n4.5',
       'Photon Infotech\n3.0', 'REE\n5.0',
       'Riverside Research Institute\n3.6', 'T. Rowe Price\n3.6',
       'Encode, Inc.', 'Brighthouse Financial\n3.8',
       'II-VI Incorporated\n3.3', 'Surya Systems\n4.6', 'PayPal\n3.8',
       'Predictive Research Inc\n3.9', '1010data\n3.1', 'Gigya\n3.6',
       'Genesis Research\n5.0', 'Sanofi\n3.7', 'XPO Logistics\n3.7',
       'Trace Data\n3.9', 'Descript\n4.3',
       'Rincon Research Corporation\n4.2', 'Better Hire\n4.0',
       'Parker Hannifin\n3.3', 'Gallup\n4.1', 'Insider Inc\n3.3',
       'Rapid Value Solutions\n3.9', 'Battelle\n3.1',
       'The Drive Media, Inc.\n5.0',
       'Pacific Northwest National Laboratory\n3.7',
       'US Pharmacopeia\n3.2', 'Itlize Global\n4.6', 'eBay\n3.5',
       'Paige\n5.0', 'ABIOMED\n4.1', 'Comcast\n3.5',
       'Metronome, LLC\n3.2', 'Lawrence Livermore National Lab\n4.7',
       'FHLBank Pittsburgh\n3.8', 'Jacobs\n3.6',
       'Underwriters Laboratories\n3.3', 'Altus Group\n3.7', 'Jobot\n5.0',
       'Trovetechs Inc', 'Oshkosh Corporation\n4.2', 'Mackin\n3.4',
       'PETADATA', 'VBeyond Corporation\n4.4', 'Take-Two\n3.7',
       'Colony Brands\n3.7', 'Capio Group\n4.1', 'SleePare\n3.4',
       'ShorePoint\n4.5', 'Dolphin\n3.5', 'TE Connectivity\n3.6',
       'State of Virginia\n3.2', 'TA Digital\n3.7',
       'Market America Inc\n4.0', 'TrueAccord\n3.4',
       'ALTA IT Services\n3.9', 'Kollasoft Inc.\n3.2',
       'ASRC Federal Holding Company\n3.4', 'Adwait Algorithm\n4.4',
       'Cambridge FX\n3.5', 'Metromile\n3.8', 'Criteo\n3.9',
       'Advance Sourcing Concepts\n3.4', 'Enterprise Solutions Inc\n3.8',
       'Microagility', 'Conch Technologies, Inc\n4.6', 'GSK\n3.9',
       'Rainmaker Resources, LLC', '22nd Century Technologies\n3.7',
       'Huxley\n3.3', 'FM Systems\n3.4', 'B4Corp',
       'Blue Cross and Blue Shield of North Carolina\n3.7',
       'Jane Street\n4.8', 'SSATI\n5.0',
       'Solving IT International Inc\n3.4',
       'The Davey Tree Expert Company\n3.3', 'Centauri\n4.6',
       'Stride Search', 'Software Engineering Institute\n2.6',
       'TechProjects\n4.8', '7Park Data\n3.9',
       'Ameritas Life Insurance Corp\n3.0', 'Western Digital\n3.5',
       'Shimento, Inc.\n2.9', 'Averity\n5.0', 'Praxis Engineering\n4.7',
       'Point72 Ventures',
       'Johns Hopkins University Applied Physics Laboratory\n4.5',
       'Cambridge Mobile Telematics\n4.9', 'Blend360\n4.6',
       'Nolij Consulting\n3.9', 'Hatch Data Inc',
       'Compass Consulting Group\n4.7', 'SolutionIT, Inc.\n4.4',
       'Perspecta\n3.2', 'Smith Hanley Associates\n4.5',
       'Allen Institute\n3.5', 'Eliassen Group\n4.4',
       'Bayside Solutions\n3.1', 'Evolve Vacation Rental\n3.5',
       'AgreeYa Solutions\n3.8', 'Carolina Power & Light Co\n3.7',
       'New Iron Group, Inc.\n5.0', 'Travelers\n4.0', 'Twitch\n3.6',
       'Biogen\n3.6', 'HireAi', 'Mentor Graphics\n4.1',
       'WCG (WIRB-Copernicus Group)\n3.6',
       'Visionary Integration Professionals\n4.3', 'Dynetics\n4.0',
       'Navy Federal Credit Union\n3.9',
       'Exact Sciences Corporation\n4.0',
       'Community Behavioral Health\n3.6', 'Reynolds American\n3.3',
       'LifeOmic\n5.0', 'Visionist, Inc.\n4.9', 'Navio',
       'Concerto HealthAI\n3.3', 'Evolvinc', 'PROPRIUS\n5.0',
       'TECHNOCRAFT Solutions\n3.4', 'Latitude, Inc.\n4.1',
       'Royce Geospatial\n5.0', 'CyberCoders\n4.2',
       'Booz Allen Hamilton Inc.\n3.7', 'Burns & McDonnell\n3.8',
       'InvenTech Info\n4.8', 'Robert Half\n3.5',
       'Conflux Systems Inc.\n4.5', 'Voice\n3.4',
       'Falcon IT & Staffing Solutions', 'DataLab USA\n3.6',
       'Werner Enterprises Inc\n3.1', 'PeopleCom\n5.0',
       'VANTA Partners\n5.0', 'Blue Icy Water, LLC',
       "Farmer's Business Network, Inc.\n3.5", 'Sonde Health',
       'Maxiom\n5.0', 'Change Healthcare\n2.7', 'DCS Corp\n4.1',
       'Hive (CA)\n2.1', 'Hackensack Meridian Health\n3.3',
       'Net2Source Inc.\n3.2', 'The Trade Desk\n3.2', 'IBM\n3.7',
       'Knowesis Inc.\n4.4', 'MoTek Technologies\n3.1', 'HPOne\n3.5',
       'Blue Cloak LLC', 'TBWA\\Chiat\\Day\n2.7',
       'ThreeBridge Solutions\n3.5', 'Numeric, LLC\n3.2',
       'Centraprise\n4.2', 'DW Simpson\n4.2', 'LinQuest\n3.9',
       'Trexquant Investment\n4.0', 'Fleetcor\n3.7',
       'Radiant Digital\n4.5', 'Child Care Aware of America\n2.8',
       'IntelliPro Group Inc.\n4.1', 'USI\n3.4', 'Apex Systems\n3.9',
       'Pragmatics, Inc.\n2.9', 'Crossover Health\n3.5',
       'Lorven Technologies Inc\n4.0', 'Gap Inc.\n3.5',
       'Tygart Technology, Inc\n4.7', 'Murray Resources\n4.6',
       'New York Technology Partners\n4.0',
       'Two95 International Inc.\n4.0', 'Sophinea', 'CRS Group\n4.7',
       'Blackstone Talent Group\n3.5', 'Roche\n4.1',
       'Creative Circle\n3.6', 'Blue Horizon Tek Solutions\n5.0',
       'Sharpedge Solutions Inc\n4.7',
       'Alaka`ina Foundation Family of Companies\n3.6',
       'Hexagon US Federal\n2.7', 'Monte Rosa Therapeutics',
       'Comtech Global Inc\n4.0', 'Aveshka, Inc.\n3.8',
       '10x Genomics\n4.2', 'CompuForce', '1-800-Flowers\n2.7',
       'Aptive\n3.5', 'JCD Staffing\n5.0', 'Thumbtack\n3.9',
       'MILVETS Systems Technology, Inc.\n3.4', 'Apple\n4.1',
       'Kforce\n4.1', 'OppLoans\n4.4', 'Brillient\n3.9',
       'Xator Corporation\n2.9', 'HAN IT Staffing Inc.\n4.6',
       'Infinitive Inc\n3.4', 'New Relic\n4.7', 'ICW Group\n3.3',
       'NYSTEC\n3.8', 'E3 Federal Solutions\n4.5', 'Peraton\n3.4',
       'Group O\n3.1', 'CaptiveAire\n4.1', 'Temboo\n3.9', 'Kibo',
       'AeroVironment\n4.2', 'Applied Research Laboratories\n3.8',
       'Conagen\n2.0', 'Alector\n4.8', 'Homology Medicines, Inc.\n4.4',
       'Inland Empire Health Plan\n3.3',
       'Sandia National Laboratories\n3.8', 'CIA\n3.8',
       'Maven Wave Partners\n4.5', 'Ovative Group\n4.3', 'Kognetics\n3.6',
       'Envision Healthcare\n2.9', 'ConsumerTrack\n3.2',
       'Meridian Knowledge Solutions\n4.4', 'UST Global\n4.2',
       'IMG Systems\n3.2', 'Trident Systems Inc\n3.4', 'GrainBridge, LLC',
       'First Health Group\n3.2', 'Sprezzatura Management Consulting',
       'Progress Rail, A Caterpillar Company\n2.8',
       'Axiologic Solutions\n4.5', 'Indigo Slate\n3.0', 'Cubic\n3.3',
       'Advanced Bio-Logic Solutions Corp\n4.0',
       'Alignment Healthcare\n3.5', 'WGSN\n3.5',
       'ISYS Technologies, Inc.\n3.6', 'TransVoyant\n3.0', 'Geotab\n4.3',
       'EGlobalTech\n3.7', 'Central Business Solutions, Inc\n3.0',
       'KeHE Distributors\n2.5', 'Moxie Software\n3.0',
       'Unicom Technologies INC\n4.7', 'Americo Life\n3.3',
       'Tokio Marine HCC\n3.3', 'CACI International\n3.5',
       'Berico Technologies', 'Kehe Food Distributors', 'Pactera Edge',
       'Qurate Retail Group\n3.6', 'A-Line Staffing Solutions\n4.1',
       'Clear Ridge Defense', 'Criterion Systems, Inc.\n3.8',
       'Foundation Medicine\n4.0', 'TRANZACT\n3.6', 'JKGT', 'AccessHope',
       'ChaTeck Incorporated\n5.0'], dtype=object)

In [1156]:
df_clean['company_name_cleaned']=df_clean.company_name.apply(cleaning_companies)
print(f'\nthe company_name column has {df_clean.company_name_cleaned.isna().sum()} missing values\n')
print(f'\nthe companies are now categorized in the follwoing {df_clean.company_name_cleaned.nunique()} groups:\n')
print(df_clean.company_name_cleaned.unique())

the company_name column has 0 missing values


the companies are now categorized in the follwoing 432 groups:

['healthfirst' 'mantech' 'analysis group' 'inficon' 'affinity solutions'
 'hg insights' 'novartis' 'irobot' 'intuit - data' 'xsell technologies'
 'novetta' '1904labs' 'pnnl' 'old world industries'
 'mathematica policy research' 'guzman & griffin technologies (ggti)'
 'upside business travel' 'buckman' 'insight enterprises, inc.'
 'tower health' 'triplebyte' 'pulsepoint' 'exponent' 'guardian life'
 'spectrum communications and consulting' 'oversight systems' 'lsq'
 'mit lincoln laboratory' 'kingfisher systems' 'formation' 'cohere health'
 'acuity insurance' 'chef' 'puget sound energy' 'sandhills global'
 'a place for mom' 'great-circle technologies' 'edmunds.com'
 'cambridge associates, llc' 'liberty mutual insurance' 'cenlar'
 'arsenal biosciences' 'eversight' 'pfizer' 'klaviyo'
 'intellectual ventures' 'govtech' 'quick base' 'giving assistant'
 'takeda' 'netskope' 'it concepts' 'iseatz' 'summa health system'
 'benson hill' 'twitter' 'postmates - corporate hq' 'envision llc'
 'swiss re' 'systems & technology research' 'dermalogica'
 'bayview asset management' 'via transportation' 'grid dynamics'
 'tempus labs' 'caredx' 'izea' 'autodesk' 'caterpillar'
 'new england biolabs' 'allied solutions' 'the knot worldwide'
 'ifg companies' 'amyris' 'astrazeneca' 'powertek' 'object partners'
 'the mom project' 'lightspeed systems' 'stripe'
 'comprehensive healthcare' 'fullpower technologies, inc.' 'mars'
 'nuwave solutions' 'merrick bank' 'qomplx' 'gutcheck'
 'inter-american development bank' 'avlino' 'stratagem group' 'evidation'
 'tecolote research' 'tivity health' 'hc1' 'hp inc.' 'saic'
 'alliancebernstein' 'big huge games' 'maxar technologies' 'phantom ai'
 'noblis' 'spring health' 'clearedge' 'getwellnetwork' 'tacg solutions'
 'scoop' 'montway inc' 'juniper networks' 'notion labs' 'lendio'
 'direct agents' 'navex global' 'upstart' 'applovin' 'iso new england'
 'relativity' 'tempo automation' 'mitre' 'expedition technology, inc.'
 'evidera' 'plymouth rock assurance' 'crown bioscience' 'gns healthcare'
 'onemagnify' 'spectrum' 'advanced bioscience laboratories'
 'procore technologies' 'ritedose' 'covid-19 search partners' 'biomérieux'
 'radical convergence' 'leidos' 'demandbase' 'shelter insurance' 'usac'
 'general dynamics information technology' 'offerpad'
 'magna international inc.' 'united biosource' 'kelly' 'c3.ai'
 'quartet health' 'midland credit management' 'resurgent capital services'
 'webfx.com' 'argo group us' 'bwx technologies' 'life360' 'massmutual'
 'natera' 'genentech' 'ntrepid' 'constant contact' 'sage intacct'
 'shape security' 'skillsoniq' 'joby aviation'
 "cook children's health care system" 'rubius therapeutics'
 'greatamerica financial services' 'coverent' 'mteq' 'rocket lawyer'
 'alion science & technology' 'protolabs' 'quest integrity'
 'phoenix operations group' 'dice.com' 'southwest research institute'
 'the buffalo group' 'central california alliance for health'
 'security finance corporation of spartanburg' 'opendoor'
 'global data management inc' 'photon infotech' 'ree'
 'riverside research institute' 't. rowe price' 'encode, inc.'
 'brighthouse financial' 'ii-vi incorporated' 'surya systems' 'paypal'
 'predictive research inc' '1010data' 'gigya' 'genesis research' 'sanofi'
 'xpo logistics' 'trace data' 'descript' 'rincon research corporation'
 'better hire' 'parker hannifin' 'gallup' 'insider inc'
 'rapid value solutions' 'battelle' 'the drive media, inc.'
 'pacific northwest national laboratory' 'us pharmacopeia' 'itlize global'
 'ebay' 'paige' 'abiomed' 'comcast' 'metronome, llc'
 'lawrence livermore national lab' 'fhlbank pittsburgh' 'jacobs'
 'underwriters laboratories' 'altus group' 'jobot' 'trovetechs inc'
 'oshkosh corporation' 'mackin' 'petadata' 'vbeyond corporation'
 'take-two' 'colony brands' 'capio group' 'sleepare' 'shorepoint'
 'dolphin' 'te connectivity' 'state of virginia' 'ta digital'
 'market america inc' 'trueaccord' 'alta it services' 'kollasoft inc.'
 'asrc federal holding company' 'adwait algorithm' 'cambridge fx'
 'metromile' 'criteo' 'advance sourcing concepts'
 'enterprise solutions inc' 'microagility' 'conch technologies, inc' 'gsk'
 'rainmaker resources, llc' '22nd century technologies' 'huxley'
 'fm systems' 'b4corp' 'blue cross and blue shield of north carolina'
 'jane street' 'ssati' 'solving it international inc'
 'the davey tree expert company' 'centauri' 'stride search'
 'software engineering institute' 'techprojects' '7park data'
 'ameritas life insurance corp' 'western digital' 'shimento, inc.'
 'averity' 'praxis engineering' 'point72 ventures'
 'johns hopkins university applied physics laboratory'
 'cambridge mobile telematics' 'blend360' 'nolij consulting'
 'hatch data inc' 'compass consulting group' 'solutionit, inc.'
 'perspecta' 'smith hanley associates' 'allen institute' 'eliassen group'
 'bayside solutions' 'evolve vacation rental' 'agreeya solutions'
 'carolina power & light co' 'new iron group, inc.' 'travelers' 'twitch'
 'biogen' 'hireai' 'mentor graphics' 'wcg (wirb-copernicus group)'
 'visionary integration professionals' 'dynetics'
 'navy federal credit union' 'exact sciences corporation'
 'community behavioral health' 'reynolds american' 'lifeomic'
 'visionist, inc.' 'navio' 'concerto healthai' 'evolvinc' 'proprius'
 'technocraft solutions' 'latitude, inc.' 'royce geospatial' 'cybercoders'
 'booz allen hamilton inc.' 'burns & mcdonnell' 'inventech info'
 'robert half' 'conflux systems inc.' 'voice'
 'falcon it & staffing solutions' 'datalab usa' 'werner enterprises inc'
 'peoplecom' 'vanta partners' 'blue icy water, llc'
 "farmer's business network, inc." 'sonde health' 'maxiom'
 'change healthcare' 'dcs corp' 'hive (ca)' 'hackensack meridian health'
 'net2source inc.' 'the trade desk' 'ibm' 'knowesis inc.'
 'motek technologies' 'hpone' 'blue cloak llc' 'tbwa\\chiat\\day'
 'threebridge solutions' 'numeric, llc' 'centraprise' 'dw simpson'
 'linquest' 'trexquant investment' 'fleetcor' 'radiant digital'
 'child care aware of america' 'intellipro group inc.' 'usi'
 'apex systems' 'pragmatics, inc.' 'crossover health'
 'lorven technologies inc' 'gap inc.' 'tygart technology, inc'
 'murray resources' 'new york technology partners'
 'two95 international inc.' 'sophinea' 'crs group'
 'blackstone talent group' 'roche' 'creative circle'
 'blue horizon tek solutions' 'sharpedge solutions inc'
 'alaka`ina foundation family of companies' 'hexagon us federal'
 'monte rosa therapeutics' 'comtech global inc' 'aveshka, inc.'
 '10x genomics' 'compuforce' '1-800-flowers' 'aptive' 'jcd staffing'
 'thumbtack' 'milvets systems technology, inc.' 'apple' 'kforce'
 'opploans' 'brillient' 'xator corporation' 'han it staffing inc.'
 'infinitive inc' 'new relic' 'icw group' 'nystec' 'e3 federal solutions'
 'peraton' 'group o' 'captiveaire' 'temboo' 'kibo' 'aerovironment'
 'applied research laboratories' 'conagen' 'alector'
 'homology medicines, inc.' 'inland empire health plan'
 'sandia national laboratories' 'cia' 'maven wave partners'
 'ovative group' 'kognetics' 'envision healthcare' 'consumertrack'
 'meridian knowledge solutions' 'ust global' 'img systems'
 'trident systems inc' 'grainbridge, llc' 'first health group'
 'sprezzatura management consulting'
 'progress rail, a caterpillar company' 'axiologic solutions'
 'indigo slate' 'cubic' 'advanced bio-logic solutions corp'
 'alignment healthcare' 'wgsn' 'isys technologies, inc.' 'transvoyant'
 'geotab' 'eglobaltech' 'central business solutions, inc'
 'kehe distributors' 'moxie software' 'unicom technologies inc'
 'americo life' 'tokio marine hcc' 'caci international'
 'berico technologies' 'kehe food distributors' 'pactera edge'
 'qurate retail group' 'a-line staffing solutions' 'clear ridge defense'
 'criterion systems, inc.' 'foundation medicine' 'tranzact' 'jkgt'
 'accesshope' 'chateck incorporated']

In [1157]:
print(df_clean.sector.isna().sum())
df_clean.sector.unique()
df_clean['sector_cleaned']=df_clean.sector.str.lower().str.strip().str.replace(' & ','_&_')

df_clean.sector_cleaned = df_clean.sector_cleaned.fillna('unknown')
print(df_clean.sector_cleaned.unique())
print(df_clean.sector_cleaned.isna().sum())

71
['insurance' 'business services' 'manufacturing' 'information technology'
 'biotech_&_pharmaceuticals' 'retail' 'oil, gas, energy_&_utilities'
 'government' 'health care' 'finance' 'aerospace_&_defense' 'unknown'
 'transportation_&_logistics' 'media' 'telecommunications' 'real estate'
 'travel_&_tourism' 'agriculture_&_forestry' 'education'
 'accounting_&_legal' 'non-profit' 'construction, repair_&_maintenance'
 'consumer services']
0

In [1158]:
print(df_clean.revenue.isna().sum())
print(df_clean.revenue.dtype)
df_clean.revenue.unique()

df_clean['revenue_cleaned']=df_clean.revenue.str.lower().str.strip().str.replace('(USD)','')
df_clean.revenue_cleaned = df_clean.revenue_cleaned.str.replace('unknown / non-applicable','unknown_non_applicable')
df_clean.revenue_cleaned =df_clean.revenue_cleaned.fillna('unknown_non_applicable')
print(df_clean.revenue_cleaned.isna().sum())
df_clean.revenue_cleaned.unique()

27
object
0

array(['unknown_non_applicable', '$1 to $2 billion (usd)',
       '$100 to $500 million (usd)', '$10+ billion (usd)',
       '$2 to $5 billion (usd)', '$500 million to $1 billion (usd)',
       '$5 to $10 billion (usd)', '$10 to $25 million (usd)',
       '$25 to $50 million (usd)', '$50 to $100 million (usd)',
       '$1 to $5 million (usd)', '$5 to $10 million (usd)',
       'less than $1 million (usd)'], dtype=object)

In [1159]:
df_clean['rating_cleaned'] = df_clean.rating.astype(str)
df_clean.rating_cleaned = df_clean.rating_cleaned.str.strip()
df_clean.rating_cleaned.unique()
df_clean['rating_cleaned']=df_clean.rating_cleaned.astype(float)
#df_clean.rating_cleaned= df_clean.rating_cleaned.fillna('np.nan')
print(df_clean.rating_cleaned.isna().sum())
print(df_clean.rating_cleaned.unique())

50
[3.1 4.2 3.8 3.5 2.9 3.9 4.4 3.6 4.5 4.7 3.7 3.4 4.1 3.2 4.3 2.8 5.  4.8
 3.3 2.7 2.2 2.6 4.  2.5 4.9 2.4 nan 2.3 4.6 3.  2.1 2. ]

In [1160]:
print(df_clean.type_of_ownership.isna().sum())
print(df_clean.type_of_ownership.unique())

27
['Nonprofit Organization' 'Company - Public' 'Private Practice / Firm'
 'Company - Private' 'Government' 'Subsidiary or Business Segment'
 'Other Organization' nan 'Unknown' 'Hospital' 'Self-employed'
 'College / University' 'Contract']

In [1161]:
df_clean['type_of_ownership_cleaned']=df_clean.type_of_ownership.str.lower().str.strip().str.replace(' - ','_').str.replace(' / ','_').str.replace(' ','_')
df_clean['type_of_ownership_cleaned']=df_clean['type_of_ownership_cleaned'].fillna('unknown')
print(df_clean.type_of_ownership_cleaned.unique())

['nonprofit_organization' 'company_public' 'private_practice_firm'
 'company_private' 'government' 'subsidiary_or_business_segment'
 'other_organization' 'unknown' 'hospital' 'self-employed'
 'college_university' 'contract']

In [1162]:
print(df_clean.columns)

Index(['index', 'job_title', 'salary_estimate', 'job_description', 'rating',
       'company_name', 'location', 'headquarters', 'size', 'founded',
       'type_of_ownership', 'industry', 'sector', 'revenue', 'competitors',
       'job_cleaned', 'indu_cl', 'sal_cleaned', 'location_cleaned',
       'size_cleaned', 'headquarters_cleaned', 'company_name_cleaned',
       'sector_cleaned', 'revenue_cleaned', 'rating_cleaned',
       'type_of_ownership_cleaned'],
      dtype='object')

In [1163]:
print(df_clean.founded.isna().sum())
print(df_clean.founded.unique())
df_clean['founded_clean']= df_clean.founded.fillna(0).astype(int)
print(df_clean.founded_clean.unique())
df_clean.head(3)

118
[1993. 1968. 1981. 2000. 1998. 2010. 1996. 1990. 1983. 2014. 2012. 2016.
 1965. 1973. 1986. 1997. 2015. 1945. 1988. 2017. 2011. 1967. 1860. 1992.
 2003. 1951. 2005. 2019. 1925. 2008. 1999. 1978. 1966. 1912. 1958. 2013.
 1849. 1781. 1926. 2006. 1994. 1863. 1995.   nan 1982. 1974. 2001. 1985.
 1913. 1971. 1911. 2009. 1959. 2007. 1939. 2002. 1961. 1963. 1969. 1946.
 1957. 1953. 1948. 1850. 1851. 2004. 1976. 1918. 1954. 1947. 1955. 2018.
 1937. 1917. 1935. 1929. 1820. 1952. 1932. 1894. 1960. 1788. 1830. 1984.
 1933. 1880. 1887. 1970. 1942. 1980. 1989. 1908. 1853. 1875. 1914. 1898.
 1956. 1977. 1987. 1896. 1972. 1949. 1962.]
[1993 1968 1981 2000 1998 2010 1996 1990 1983 2014 2012 2016 1965 1973
 1986 1997 2015 1945 1988 2017 2011 1967 1860 1992 2003 1951 2005 2019
 1925 2008 1999 1978 1966 1912 1958 2013 1849 1781 1926 2006 1994 1863
 1995    0 1982 1974 2001 1985 1913 1971 1911 2009 1959 2007 1939 2002
 1961 1963 1969 1946 1957 1953 1948 1850 1851 2004 1976 1918 1954 1947
 1955 2018 1937 1917 1935 1929 1820 1952 1932 1894 1960 1788 1830 1984
 1933 1880 1887 1970 1942 1980 1989 1908 1853 1875 1914 1898 1956 1977
 1987 1896 1972 1949 1962]

,index,job_title,salary_estimate,job_description,rating,company_name,location,headquarters,size,founded,...,sal_cleaned,location_cleaned,size_cleaned,headquarters_cleaned,company_name_cleaned,sector_cleaned,revenue_cleaned,rating_cleaned,type_of_ownership_cleaned,founded_clean
0,0,Sr Data Scientist,$137K-$171K (Glassdoor est.),Description\n\nThe Senior Data Scientist is re...,3.1,Healthfirst\n3.1,"New York, NY","New York, NY",1001 to 5000 employees,1993.0,...,120-200,"new york, ny",1001 to 5000 employees,"new york, ny",healthfirst,insurance,unknown_non_applicable,3.1,nonprofit_organization,1993
1,1,Data Scientist,$137K-$171K (Glassdoor est.),"Secure our Nation, Ignite your Future\n\nJoin ...",4.2,ManTech\n4.2,"Chantilly, VA","Herndon, VA",5001 to 10000 employees,1968.0,...,120-200,"chantilly, va",5001 to 10000 employees,"herndon, va",mantech,business services,$1 to $2 billion (usd),4.2,company_public,1968
2,2,Data Scientist,$137K-$171K (Glassdoor est.),Overview\n\n\nAnalysis Group is one of the lar...,3.8,Analysis Group\n3.8,"Boston, MA","Boston, MA",1001 to 5000 employees,1981.0,...,120-200,"boston, ma",1001 to 5000 employees,"boston, ma",analysis group,business services,$100 to $500 million (usd),3.8,private_practice_firm,1981

In [1164]:
col_to_drop =['job_title', 'industry', 'salary_estimate','location','size', 'headquarters', 'company_name','sector', 'revenue', 'rating','type_of_ownership','founded']
df_clean.drop(columns=col_to_drop, inplace=True)
print(df_clean.columns)

Index(['index', 'job_description', 'competitors', 'job_cleaned', 'indu_cl',
       'sal_cleaned', 'location_cleaned', 'size_cleaned',
       'headquarters_cleaned', 'company_name_cleaned', 'sector_cleaned',
       'revenue_cleaned', 'rating_cleaned', 'type_of_ownership_cleaned',
       'founded_clean'],
      dtype='object')

In [1165]:
print(df_clean.competitors.isna().sum())
print(df_clean.competitors.unique())

501
['EmblemHealth, UnitedHealth Group, Aetna' nan
 'MKS Instruments, Pfeiffer Vacuum, Agilent Technologies'
 'Commerce Signals, Cardlytics, Yodlee' 'Square, PayPal, H&R Block'
 'Leidos, CACI International, Booz Allen Hamilton'
 'Slalom, Daugherty Business Solutions'
 'Oak Ridge National Laboratory, National Renewable Energy Lab, Los Alamos National Laboratory'
 'CDW, PCM, SHI International'
 'Crossix Solutions Inc., AppNexus, The Trade Desk' 'Northwestern Mutual'
 'Puppet, Ansible, SaltStack'
 'Enlivant, Sunrise Senior Living, Brookdale Senior Living'
 'TrueCar, Cars.com, Kelley Blue Book' 'Travelers, Allstate, State Farm'
 'Novartis, Baxter, Pfizer' 'Skyhigh Networks, Zscaler, NortonLifeLock'
 'Facebook, Google, Pinterest' 'DoorDash, Uber, Grubhub'
 'Munich Re, Hannover RE, SCOR' "IMAGE Skincare, Aveda, Kiehl's"
 'Luxoft, EPAM, Capgemini Invent' 'Sequenom' 'Linqia, Collective Bias'
 'John Deere, Komatsu, CNH Industrial'
 'Thermo Fisher Scientific, Enzymatics, Illumina'
 'CUNA Mutual, SWBC, Overby-Seawell' 'Zola Registry'
 'Colony Specialty, Markel, RLI' 'Roche, GlaxoSmithKline, Novartis'
 'Solution Design Group, Intertech (Minnesota)'
 'Braintree, Authorize.Net, PayPal' 'Nielsen, Zappi, SurveyMonkey'
 'The World Bank, IMF' 'Booz Allen Hamilton, CACI International'
 'Booz Allen Hamilton, SAIC, LMI' 'Epic, CipherHealth'
 'Copper River Shared Services, Chenega Corporation, Deloitte'
 'Battelle, General Atomics, SAIC' 'IQVIA, ICON'
 'Arbella Insurance, Safety Insurance' 'Engagio, Bombora, Terminus'
 'SAIC, Leidos, Northrop Grumman' 'Bosch, Lear Corporation, Faurecia'
 'Covance, ICON' 'Adecco, ManpowerGroup, Allegis Corporation'
 'GE Digital, Palantir Technologies, Uptake' 'PRA Group'
 'Genomic Health, 23andMe, Illumina' 'Bromium, FireEye, Authentic8'
 'Drip, iContact, Mailchimp'
 "Children's Health, Texas Health Resources, Baylor Scott & White Health"
 'Harris, Fibertek' 'Monster Worldwide, CareerBuilder, Craigslist'
 'Los Alamos National Laboratory, Battelle, SRI International'
 'ManTech, Booz Allen Hamilton, Leidos'
 'Lumentum Operations, Keysight Technologies, O-Net Technologies'
 'Square, Amazon, Apple' 'Pfizer, GlaxoSmithKline'
 'DHL Supply Chain, UPS, FedEx'
 'Raytheon Technologies, General Dynamics, MIT Lincoln Laboratory'
 'Eaton, SMC Corporation, Bosch Rexroth'
 'Advisory Board, Booz Allen Hamilton, McKinsey & Company' 'Amazon, Apple'
 'Covidien, Boston Scientific' 'AT&T, Verizon'
 'Los Alamos National Laboratory, NASA Jet Propulsion Laboratory, Sandia National Laboratories'
 'Fluor, Bechtel, AECOM' 'Intertek, SGS, Bureau Veritas'
 'Lockheed Martin, Caterpillar, John Deere'
 'Activision Blizzard, Electronic Arts' 'MediaMath, Conversant, AppNexus'
 'Pfizer, AstraZeneca, Merck' 'Archibus, iOffice, Planon'
 'ACRT Services, Bartlett Tree Experts'
 'TASC, Vencore, Booz Allen Hamilton' 'Seagate Technology, Toshiba'
 'Raytheon Technologies, Northrop Grumman, Booz Allen Hamilton'
 'MIT Lincoln Laboratory, Lockheed Martin, Northrop Grumman'
 'Kforce, PageGroup, Robert Half' 'TEKsystems, Kforce, Randstad US'
 'South Carolina Electric & Gas, Virginia Electric and Power'
 'Cadence Design Systems, Synopsys, Altium Limited'
 'CGI (Nevada), Accenture, Deloitte' 'Accenture, Deloitte, PwC'
 'Bechtel Jacobs, Black & Veatch, HNTB' 'Adecco, Manpower'
 'Acxiom, Merkle, Epsilon (North Carolina)' 'Amazon, Accenture, Microsoft'
 'Booz Allen Hamilton, Deloitte, ERPi'
 'TEKsystems, Insight Global, Accenture' 'H&M, Inditex, Fast Retailing'
 'Novartis, AstraZeneca, Siemens Healthineers' 'Aquent, 24 Seven Talent'
 'Google, Microsoft, Samsung Electronics'
 'AppDynamics, Datadog, Dynatrace'
 'Liberty Mutual Insurance, EMPLOYERS, Travelers'
 'KPMG, Accenture, Deloitte' 'General Atomics, Boeing, Northrop Grumman'
 'Los Alamos National Laboratory, Lawrence Livermore National Laboratory'
 'Cognizant Technology Solutions, Infosys, Wipro' 'Humana'
 'Accenture, Northrop Grumman, Xerox'
 'United Natural Foods, US Foods, DPI Specialty Foods'
 'LivePerson, Salesforce, SAP' 'Zurich Insurance, AXA XL, Allianz'
 'CSC, ManTech, SAIC'
 'Genomic Health, Myriad Genetics, The Broad Institute']

In [1166]:
df_final=df_clean.drop(columns=['job_description','competitors'])
df_final.columns

Index(['index', 'job_cleaned', 'indu_cl', 'sal_cleaned', 'location_cleaned',
       'size_cleaned', 'headquarters_cleaned', 'company_name_cleaned',
       'sector_cleaned', 'revenue_cleaned', 'rating_cleaned',
       'type_of_ownership_cleaned', 'founded_clean'],
      dtype='object')

In [1167]:
new_column_names = {
    'index': 'index',
    'job_cleaned': 'job_title',
    'sal_cleaned': 'salary_estimate',
    'location_cleaned': 'location',
    'size_cleaned': 'size',
    'founded_clean':'founded',
    'headquarters_cleaned': 'headquarters',
    'company_name_cleaned': 'company_name',
    'sector_cleaned': 'sector',
    'revenue_cleaned': 'revenue',
    'rating_cleaned': 'rating',
    'type_of_ownership_cleaned': 'type_of_ownership',
    'indu_cl': 'industry',
    'founded': 'founded'
    
}

# Renaming the columns and their reorder in the final dataset
df_final = df_final.rename(columns=new_column_names)
df_final = df_final[new_column_names.values()]
df_final.sample(10)

,index,job_title,salary_estimate,location,size,founded,headquarters,company_name,sector,revenue,rating,type_of_ownership,industry,founded
350,350,data_scientist,90-170,"chantilly, va",201 to 500 employees,2002,"annapolis junction, md",praxis engineering,information technology,$100 to $500 million (usd),4.7,subsidiary_or_business_segment,computer_hardware_software,2002
467,467,machine_learning_engineer,30-56,"chicago, il",501 to 1000 employees,2015,"chicago, il",tempus labs,biotech_&_pharmaceuticals,unknown_non_applicable,3.3,company_private,others,2015
447,447,data_scientist,56-125,"san francisco, ca",5001 to 10000 employees,1982,"san rafael, ca",autodesk,information technology,$2 to $5 billion (usd),4.0,company_public,computer_hardware_software,1982
322,322,data_scientist,140-225,"cincinnati, oh",1 to 50 employees,0,"cincinnati, oh","rainmaker resources, llc",unknown,unknown_non_applicable,NaN,company_private,others,0
569,569,data_scientist,120-200,"mclean, va",5001 to 10000 employees,1958,"bedford, ma",mitre,government,$1 to $2 billion (usd),3.3,nonprofit_organization,government_public_sector,1958
540,540,data_scientist,56-125,"thousand oaks, ca",1001 to 5000 employees,1999,"folsom, ca",agreeya solutions,information technology,$50 to $100 million (usd),3.8,company_private,others,1999
396,396,data_scientist,90-170,"washington, dc",501 to 1000 employees,1996,"folsom, ca",visionary integration professionals,information technology,$100 to $500 million (usd),4.3,company_private,others,1996
307,307,data_scientist,140-225,united states,1 to 50 employees,0,"scottsdale, az",kollasoft inc.,information technology,$1 to $5 million (usd),3.2,company_private,others,0
646,646,data_scientist,90-170,"herndon, va",5001 to 10000 employees,0,"westminster, co",maxar technologies,aerospace_&_defense,$2 to $5 billion (usd),3.5,company_public,others,0
577,577,others,120-200,"austin, tx",501 to 1000 employees,0,"austin, tx",applied research laboratories,education,unknown_non_applicable,3.8,college_university,others,0